*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation > ul{
    display: flex;
    background-color: bisque;
    gap: 10px;
}

.navigation ul li{
   list-style: none;
   /* margin-right: 10px; */
   padding: 5px 8px;
}

.navigation ul li a{
    text-decoration: none;
}

.navigation ul li:hover{
    background-color: rgba(0, 0, 0, 0.2)
}

.dropdown-list{
    display: none;
}

.navigation ul li:hover > .dropdown-list{
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

